/* d'oh! My erroneous "css comment" here BROKE STUFF
  // Lecture 57
*/

/* SCSS (SASS) Variable
http://sass-lang.com/guide
10.5 woot! */
$space-large: 2.5rem;

$title-color: #555;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search] {
  box-shadow: none;
}
